{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block footer %}

{% endblock footer %}

{% block content %}
<div class="container">
    <h1 id="id-holder" data-id="{{user.id}}">My grades</h1><br>
    <div style="max-width: 20%;">
    {{period_form.period|as_crispy_field}}
    </div>
    <div class="container" id="grade-div" style="max-width: 65%; min-width: 65%;text-align: center;" >

    </div>
</div>

{% endblock %}


{% block script %}
  <script type="text/javascript" src="{% static 'js/students/mygrades.js' %}"></script>
{% endblock script %}


<!--  <div class="row">
    <div class="col-sm mb-5">
        <table class="table table-sm">
          <thead>
              <tr>
                <h5>First Quarter</h5>
              </tr>

            <tr>
              <th scope="col">Subject</th>
              <th scope="col">Grade</th>
            </tr>
          </thead>
          <tbody>
              {% for s in student_grades %}
              {% if s.period.period == 'First Quarter' %}
            <tr {% if s.grade < 75 %} style="background-color: rgb(255 38 38 / 91%);" {% endif %}
                {% if s.grade >= 75 and s.grade < 80 %} style="background-color:rgb(253 159 3 / 70%)" {% endif %}
                {% if s.grade > 79 %} style="background-color: #16ca76" {% endif %}>
              <td>{{s.subject}}</td>
              <td>{{s.grade}}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
          </table>
    </div>

    <div class="col-sm mb-5">
        <table class="table table-sm">
          <thead>
              <tr>
                  <h5>Second Quarter</h5>
              </tr>
            <tr>
              <th scope="col">Subject</th>
              <th scope="col">Grade</th>
            </tr>
          </thead>
          <tbody>
              {% for s in student_grades %}
              {% if s.period.period == 'Second Quarter' %}
            <tr{% if s.grade < 75 %} style="background-color: rgb(255 38 38 / 91%);" {% endif %}
                {% if s.grade >= 75 and s.grade < 80 %} style="background-color:rgb(253 159 3 / 70%)" {% endif %}
                {% if s.grade > 79 %} style="background-color: #16ca76" {% endif %}>
              <td>{{s.subject}}</td>
              <td>{{s.grade}}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
          </table>
    </div>
    <div class="col-sm mb-5">
        <table class="table table-sm">
          <thead>
              <tr>
                  <h5>Third Quarter</h5>
              </tr>
            <tr>
              <th scope="col">Subject</th>
              <th scope="col">Grade</th>
            </tr>
          </thead>
          <tbody>
              {% for s in student_grades %}
              {% if s.period.period == 'Third Quarter' %}
            <tr{% if s.grade < 75 %} style="background-color: rgb(255 38 38 / 91%);" {% endif %}
                {% if s.grade >= 75 and s.grade < 80 %} style="background-color:rgb(253 159 3 / 70%)" {% endif %}
                {% if s.grade > 79 %} style="background-color: #16ca76" {% endif %}>
              <td>{{s.subject}}</td>
              <td>{{s.grade}}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
          </table>
    </div>
    <div class="col-sm mb-5">
        <table class="table table-sm">
          <thead>
              <tr>
                  <h5>Fourth Quarter</h5>
              </tr>
            <tr>
              <th scope="col">Subject</th>
              <th scope="col">Grade</th>
            </tr>
          </thead>
          <tbody>
              {% for s in student_grades %}
              {% if s.period.period == 'Fourth Quarter' %}
            <tr{% if s.grade < 75 %} style="background-color: rgb(255 38 38 / 91%);" {% endif %}
                {% if s.grade >= 75 and s.grade < 80 %} style="background-color:rgb(253 159 3 / 70%)" {% endif %}
                {% if s.grade > 79 %} style="background-color: #16ca76" {% endif %}>
              <td>{{s.subject}}</td>
              <td>{{s.grade}}</td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
          </table>
    </div>
  </div> -->
