{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block footer %}

{% endblock %}

{% block content %}
<div class="container" style="max-width: 60%;margin-top: 3rem;">
    <h4>My Advisory Class</h4> <a href="{% url 'generate-csv-for-my-class' user.id %}">generate csv file for this class</a>
    <br><br>
    <div class="row" style="max-width: 50%;">
        <form action="{% url 'my-students' user.id %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h6>Upload grades using .csv file</h6>
            {{csv_form.period | as_crispy_field}}
            <div style="display: flex;">
            {{csv_form.file_name | as_crispy_field}}
            <button style="height: 35px; margin-top: 1rem;" type="submit" class="btn btn-sm btn-outline-secondary">Upload</button>
            </div>
        </form>
    </div>

    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">LRN/Student Number</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Enrolled Subjects</th>
      <th scope="col">Add Grade</th>
    </tr>
  </thead>
  <tbody>
    {% for student in my_students %}
    <tr>
        <th scope="row" class=>{{forloop.counter}}</th>
        <td>{{student.profile.LRN_or_student_number}}</td>
        <td>{{student.profile.first_name}}</td>
        <td>{{student.profile.last_name}}</td>
        <td>
            <div class="btn-group">
                <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Subject List
                </button>
                <ul class="dropdown-menu" id="student-{{student.id}}">
                    {% for subject in student.enrolled_subjects.all %}
                        <li class="dropdown-item" data-id="{{subject.id}}">{{subject.subject_name}}</option>
                    {% endfor %}
                </ul>
            </div>
        <td>
            <span style="color:blue;margin-left: 2rem;" data-id="{{student.id}}" id="{{student.id}}" type="button" data-bs-toggle="modal" data-bs-target="#grade-modal" onClick="getEnrolledSubjects(this.getAttribute('data-id'))"><i class="fas fa-plus"></i></span>
        </td>
    </tr>
    {% endfor %}
</table>
</div>



<!-- Modal -->
<div class="modal fade" id="grade-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="grade-modal-title">Upload grades of </h5>

      </div>
      <div class="modal-body" id="grade-modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/students/addgrades.js' %}"></script>
{% endblock content %}