{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}

{% endblock %}

{% block footer %}
<!-- keep this empty if you dont want to have the footer in this page -->
{% endblock footer %}

{% block content %}
    <div class="container" style="max-width: 600px;">
        <legend>Add new User</legend>
        <form id="userform">
            {{userform.email | as_crispy_field}}
            {{userform.user_level | as_crispy_field}}

            {{userstaffprofile.first_name | as_crispy_field }}
            {{userstaffprofile.middle_name | as_crispy_field }}
            {{userstaffprofile.last_name | as_crispy_field }}
            {{userstaffprofile.gender | as_crispy_field }}
            {{userstaffprofile.employee_number | as_crispy_field }}

            <div class="row" id="mobilenumberrow">
                <label for="mobilenumberrow">Mobile Number*</label>
                <div class="col-1" style="margin-top: 6px;"><span class="text-muted">+63</span></div>
                <div class="col-11">
                    {{userstaffprofile.mobile_number | as_crispy_field }}
                </div>
            </div>


            <div class="row" id="dateofbirthrow">
                <label for="dateofbirthrow">Date of Birth <small class="text-muted">MM/DD/YYYY</small></label>
                <div class="col-5">{{userstaffprofile.dob_month | as_crispy_field}}</div>
                <div class="col-2">{{userstaffprofile.dob_day | as_crispy_field}}</div>
                <div class="col-5">{{userstaffprofile.dob_year | as_crispy_field}}</div>
            </div>
            {{userstaffprofile.address | as_crispy_field }}

        </form>


        <!-- Button trigger modal -->
        <button type="button" id="reviewButton" onclick="popModal()" class="btn btn-primary mb-2 mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Review Info
        </button>

    </div>



<!-- Modal -->
    <!-- Modal -->
    <div class="container" id="staffcreationmodal">
        <div class="modal fade" id="exampleModal" style="margin-top: 200px; max-height: 600px; position:fixed; left:50%; transform: translate(-50%,0);" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="title"></h5>
              </div>
              <div class="modal-body" id="body">
                    <div class="row">

                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="closeButton" class="btn btn-secondary" data-bs-dismiss="modal">Edit Information</button>
                <button type="submit" onClick="saveUser()" class="btn btn-primary" id="saveButton">Save</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'js/accounts/register.js' %}" ></script>

{% endblock %}

{% block title %}
Register
{% endblock %}

{% block script %}

{% endblock %}


