{% extends 'base.html' %}
{% load static %}


{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <style>
        body {
          background-image: url({{background.image.url}});
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: 100% 100%;
        }
        img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
{% endblock %}

{% block content %}
<div style="background: rgba(0, 0, 0, 0.80);">
    <!--     <div class="bg">
        <img src="{% static 'img/cvs-background.jpg' %}">
    </div> -->

    <!-- site header -->
    <div class="site-header">
        <img src="{{site_header_image.image.url}}" style="display: block; height: auto; max-width: 100%;">
        <figcaption class="header-caption"><h1>{{site_header_image.caption}}</h1></figcaption>
    </div>
    <div class="container">
        
            <!-- <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
                {% for pic in carousel_pics %}
                <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" style="max-height: 100%;">
                  <img src="{{pic.image.url}}"  class="img" alt="...">
                  <div class="carousel-caption" style="background: rgba(0, 0, 0, 0.35);">
                    <p>
                        <b>{{pic.label}}</b> <br>
                        <small>{{pic.content}}</small>
                    </p>
                  </div>
                </div>
                {% endfor %}
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button style="margin-right: 2rem;" class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
                              -->   



    </div>
    <!-- quick links -->
    <div class="container" style="position: relative;color: white;">
        <div class="row d-flex justify-content-centr" style="position: absolute;top: -4rem; left: 85px;">
            <div class="col-4" style="z-index: 10;">
                <a class="btn" style="min-width: 100%; font-size: 20px; color: white; height: 180px;background-color:#4ea46e; padding: 2rem;">
                    <h3><strong>Register Online</strong></h3>
                    <p>Learn More</p>
                </a>
            </div>
            <div class="col-4" style="z-index: 10;">
                <a class="btn" style="font-size: 20px; height: 180px; color: white; background-color:#ec8471;padding: 2rem;">
                    <h3><strong>Senior High School Ready</strong></h3>
                    <p>Learn More</p>
                </a>
            </div>
            <div class="col-4" style="z-index: 10;">
                <a href="{% url 'admission' %}" class="btn" style=" font-size: 20px; height:180px; color:white; background-color:#a054b0;padding: 2rem;">
                    <h3><strong>Apply Now!</strong></h3>
                    <p>Admission requirements for new students</p>
                </a>
            </div>
        </div>
    </div>

    <div style=" margin-top: -2rem; background-image: url('{{mnvimage.image.url}}'); color: white; background-size: cover; background-repeat:no-repeat; background-position: center; max-width: 100%;">

        <div style="background: rgba(0, 0, 0, 0.80);">
            <div class="container" style="padding-top: 10rem; padding-bottom: 10rem;">
                <!-- school name -->
                <div class="row" style="margin-top: 2rem; text-align: center;padding-top: 1rem;padding-bottom: 1rem;">
                    <h1 style="color:yellow;">Christian Values School </h1><h1 style="color: yellow;"> Foundation, Inc. </h1>
                    {% for address in school_address %}
                    <h3 style="color: #a1d6ea;">{{address.street}}, {{address.town}}, {{address.city}}, {{address.province}}</h3>
                    {% endfor %}
                </div>
                <!-- school name -->


                <!-- school mission -->
                <div class="row">
                    <div class="card-section">
                        <div class="card-info" style="font-size: 1.5rem;">
                            <h1 style="color: yellow;">Our Mission</h1>
                            <p id="{{mission.id}}">
                                {{mission.mission|safe}}
                            </p>
                        </div>
                        <div class="card-info" style="font-size: 1.5rem;">
                            <h1  style="color:yellow;">Our Vision</h1>
                            <p id="{{vision.id}}">
                                {{vision.vision|safe}}
                            </p>
                        </div>

                    </div>
                </div>
            </div> 
        </div>
    </div>


    <!-- verse of the day -->

    <div class="container" style="position: relative;color: white;">
        <div class="row" style="position: absolute;width: 100%; min-height: 250px; top: -4rem; left: 0;border-width: thick; border-style: solid; border-color: yellow;">
            <div class="verse" style="max-height: 250px; color: white; font-size: 20px; margin: 1rem; background-color: transparent;">
            {% for item in verse %}
                <div class="card-title">
                    <h3><strong>Verse of the Day</strong></h3>
                </div>

                <div class="card-body overflow-auto" style="max-height: 150px; margin-right: 2rem;"><br>
                    {{item.content|safe}}
                </div>
                <div class="card-footer" style="float: right;margin-bottom: 1rem; margin-right: 1rem;">
                        From the book of <strong>{{item.book}}</strong><br>
    Chapter {{item.chapter}}:{{item.starting_verse}}{% if item.last_verse is not None %}-{{item.last_verse}}{% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>



    <!-- verse of the day -->


    <div class="container">
        <div class="row" id="news-and-events" style="margin-top: 20rem; padding-bottom: 10rem;">

            <!-- upcoming events -->
            <div class="col-6">
                <div class="card" style="background-color: transparent;">
                    <div class="card-header" style="background-color:#a1d6ea;">
                        <h5>Upcoming Events</h5>
                    </div>
                    <div class="card-body" >
                        <div style="height: 250px; overflow-y:scroll;max-height:300px;">
                            {% for event in events %}
                                <div class="event" style="color: white;">
                                    <!-- <div class="event" style="background-color: #e9ecef;"> -->
                                    <div class="card-title">
                                        <span><strong>{{event.event}}</strong></span><br>
                                        {% if event.date_of_event is not None %}
                                        <span>On</span> <span>{{event.date_of_event}}, {{event.time_of_event}}</span>
                                        {% endif %}
                                    </div>
                                    
                                    {% if event.description %}
                                        <span>{{event.description|safe}}</span>
                                    {% endif %}
                                    <small class="text-muted">Date Posted: {{event.date_posted}}</small>
                                </div>
                                {% if not forloop.last %}<hr style="height: 3px; color: yellow;">{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- announcements -->
            <div class="col-6">
                <div class="card" style="background-color: transparent;">
                    <div class="card-header" style="background-color: #a1d6ea;">
                        <h5>Announcements</h5>
                    </div>
                    <div class="card-body">
                        <div style="height: 250px; overflow-y:scroll;max-height:300px;">
                            {% for item in announcements %}
                                <div class="event" style="color: white;">
                                    <div class="card-title">
                                        <span><strong>{{item.announcement}}</strong></span><br>
                                    </div>
                                    {% if item.description %}
                                        <span>{{item.description|safe}}</span>
                                    {% endif %}
                                    <small class="text-muted" >Date Posted: {{item.date_posted}}</small>
                                </div>
                                {% if not forloop.last %}<hr>{% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- verse of the day -->
<!--             <div class="col-4">
                <div class="card" style="background-color: transparent;">
                   <div class="card-header" style="background-color: #a1d6ea;">
                       <h5>Verse of the Day</h5>
                   </div>
                   <div class="card-body">
                        <div class="verse" style="height: 250px; overflow-y: scroll; color: white; font-size: 15px;">
                        {% for item in verse %}
                            <div class="card-title">
                From the book of <strong>{{item.book}}</strong><br>
                Chapter {{item.chapter}}:{{item.starting_verse}}{% if item.last_verse is not None %}-{{item.last_verse}}{% endif %}
                            </div>

                            <div class="content"><br>
                                {{item.content|safe}}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
 -->
        </div>
    </div>







</div>
<script type="text/javascript" src="{% static 'js/accounts/home.js' %}" ></script>
{% endblock %}

        <!-- sample api post method. just to check if code is working

        <form id="blogform">
            title: <input type="text" name="title" id="title">
            content: <input type="text" name="content" id="content">
            author: <input type="text" name="author" id="author">
            <button type="button" id="reviewButton" onclick="popBlogModal()" class="btn btn-primary mb-2 mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Review Info
            </button>
        </form>
    
        <div class="container" id="blogmodal">
            <div class="modal fade" id="exampleModal" style="margin-top: 200px; max-height: 600px; position:fixed; left:50%; transform: translate(-50%,0);" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modaltitle">

                    </h5>
                  </div>
                  <div class="modal-body" id="body">
                        <div class="row">

                        </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="closeButton" class="btn btn-secondary" data-bs-dismiss="modal">Edit Information</button>
                    <button type="submit" onClick="saveUser()" class="btn btn-primary" id="saveButton" data-dismiss="modal">Save</button>
                  </div>
                </div>
              </div>
            </div>
        </div> -->
       






